.header {
  padding-top: 20px;
  margin-bottom: 59px;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header_btn {
    border-radius: 32px;
    background: var(--accent);
    width: 140px;
    display: flex;
    align-items: center;
    img {
      padding: 5px 5px;
      margin-right: 15px;
    }
    span {
      color: var(--page-bg);
    }
  }
}
