.menu__order {
  width: 100%;
  background-color: var(--page-bg);
  padding: 10px 15px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .order__kcal {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 20px;
    line-height: 120%; /* 24px */
    .kcal__btn {
      cursor: pointer;
      background-color: var(--accent);
      border-radius: 10px;
      box-shadow: 0px 0px 7px 0px rgba(255, 168, 0, 0.54);
      padding: 6px 4px 6px 10px;
      color: var(--page-bg);
      font-weight: 700;
      text-decoration-line: underline;
      text-transform: uppercase;
      align-self: center;
      align-items: center;
      display: flex;
      gap: 8px;
      transition: 0.5s ease-in-out;
      &:hover {
        background-color: var(--green);
      }
    }
    .kcal__tolal {
      color: var(--text-color);
      font-weight: 400;
    }
  }
  .compound {
    display: flex;
    gap: 28px;
    img {
      width: 32px;
      height: 32px;
    }
    .compound__item {
      display: flex;
      gap: 5px;
      align-items: center;
      line-height: 120%; /* 31.2px */
      .compaund-number {
        font-size: 26px;
        font-weight: 800;
      }
      .compaund-text {
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
  .order__link {
    border-radius: 32px;
    background: var(--accent);
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
    width: 241px;
    text-align: center;
    padding: 18px 27px;
    transition: 0.5s ease-in-out;
    &:hover {
      background-color: var(--green);
    }
  }
}
