.personal__wrapper {
  border-radius: 55px;
  background: var(--green);
  width: 1200px;
  height: 450px;
  position: relative;
  margin-bottom: 100px;
  .personal__text {
    display: flex;
    flex-direction: column;
    margin-left: 102px;
    padding-top: 54px;
    gap: 20px;
    max-width: 400px;
    .personal__title {
      color: var(--page-bg);
      line-height: 100%;
      font-size: 65px;
      font-weight: 700;
      text-transform: uppercase;
      ul {
        display: flex;
        .list_one {
          animation: li 1.5s forwards;
          opacity: 0;
        }
        .list_two {
          animation: li 1.5s forwards;
          animation-delay: 1.2s;
          opacity: 0;
        }
        .list_three {
          animation: li 1.5s forwards;
          animation-delay: 2s;
          opacity: 0;
        }
      }
    }
    .personal__subtitle {
      color: var(--text-color);
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: 59px; /* 236% */
    }
    .personal__btn {
      border-radius: 32px;
      background: var(--accent);
      padding: 18px 27px;

      color: var(--page-bg);
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; /* 19.2px */
      transition: background 0.3s ease-in-out;
      &:hover {
        background: var(--page-bg);
        color: var(--green);
      }
    }
  }
  .personal__img-mint-big {
    position: absolute;
    top: -140px;
    left: 380px;
  }
  .personal__img-mint-small {
    position: absolute;
    bottom: -140px;
    left: -100px;
  }
  .personal__img-vector {
    position: absolute;
    top: 25px;
    right: 80px;
  }
  .personal__img-plate {
    position: absolute;
    top: 0;
    right: -60px;
    max-width: 866px;
    z-index: 10;
  }
  .personal__img-plateShadow {
    position: absolute;
    top: 0;
    right: 100px;
  }
  .personal__img-pepper {
    position: absolute;
    bottom: -135px;
    right: -100px;
  }
  .personal__img-leaf {
    position: absolute;
    bottom: -75px;
    left: 500px;
  }
}
